.image4io .col-sm-8 {
	width:60%;
	float:left;
	padding:10px;
}

.image4io .col-sm-4 {
	width:35%;
	float:left;
	padding:10px;
}

.image4io .form-control {
	padding:5px;
	width:100%;
	margin-bottom:5px;
	border-radius:5px;
}

.image4io #form label {
	font-weight:bold;
	padding:5px;
	width:100%;
	display:block;
}

.image4io #form .button {
	background-color: #008CBA; /* Green */
	border: none;
	color: white;
	padding: 7px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	width:100%;
	height:auto;
}

.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 18px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #c09853;
  display:none;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
}

.alert-danger {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}

.uploader-mxlayer {
    margin-bottom: 20px;
    padding: 0;
    text-align: center;
}

.uploader-mxlayer-content {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
}

.uploader-mxlayer-content .upload-ui-mxlayer {
    margin: 2em 0;
	padding:50px;
	padding-top:0;
}

.uploader-mxlayer h2, .uploader-mxlayer h3 {
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    margin: 0;
}

.uploader-mxlayer p {
    font-size: 12px;
    margin: .5em 0;
}

.button.button-hero-mxlayer {
	position:relative;
	z-index:1;
    font-size: 14px;
    height: 46px;
    line-height: 44px;
    padding: 0 36px;
}

.uploader-mxlayer .browser {
    display: inline-block!important;
}

.uploader-mxlayer .button, .btn-primary{
    color: #555;
    border-color: #ccc;
    background: #f7f7f7;
    box-shadow: 0 1px 0 #ccc;
    vertical-align: top;
}

.uploader-mxlayer .button, .btn-primary {
    display: inline-block;
    text-decoration: none;
    font-size: 13px;
    line-height: 26px;
    height: 46px;
    margin: 0;
    padding: 0 36px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    -webkit-appearance: none;
    border-radius: 3px;
    white-space: nowrap;
    box-sizing: border-box;
}

.post-mxlayer-upload-ui {
    margin-bottom: 2em;
}

.uploader-mxlayer p {
    font-size: 12px;
    margin: .5em 0;
}

#file_upload {
	display:none;
}

.form-control {
	width:100%;
	padding:8px;
	border-radius:5px;
}

.bread {
	background: #78b9eb;
    overflow: auto;
    padding-top: 10px;
    color: #fff;
	margin-right: 20px; 
	margin-left: 10px;
}

.bread li {
	float:left;
	padding:5px;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
	font-size:13px;
}

.bread li span {
	margin-right:7px;
}

.bread li a {
	color:#fff;
	text-decoration:none;
}

.wp-core-ui .media-frame-contents .attachment {
    position: relative;
    float: left;
    /* margin-right: 16px; */
    padding: 8px;
    margin-right: 24px;
    color: #444;
    cursor: pointer;
    list-style: none;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 12%;
    box-sizing: border-box;
}

.wp-core-ui .attachment .thumbnail {
	bottom: 20px;
}

.image4io .upload-ui {
	text-align:center;
}

.image4io .post-upload-ui {
	text-align: center;
    margin-top: 20px;
}

.image4io .uploader-inline {
	display:none;
}

.image4io .fileList li {
	position: relative;
    float: left;
    /* margin-right: 16px; */
    padding: 8px;
    margin-right: 2px;
    color: #444;
    cursor: pointer;
    list-style: none;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 12%;
    box-sizing: border-box;
}

.image4io .fileList .attachment-preview {
	position: relative;
    box-shadow: inset 0 0 15px rgba(0,0,0,.1), inset 0 0 0 1px rgba(0,0,0,.05);
    background: #eee;
    cursor: pointer;
}

.image4io .fileList .thumbnail {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 1;
    transition: opacity .1s;
}

.image4io .fileList .thumbnail {
    bottom: 2px;
}

.image4io .fileList .thumbnail .centered {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translate(50%,50%);
}

.image4io .fileList .thumbnail .centered img {
    transform: translate(-50%,-50%);
}

.image4io .fileList .thumbnail img {
    position: absolute;
}

.image4io .fileList .thumbnail img {
    top: 0;
    left: 0;
}

.image4io .fileList .landscape img {
    max-height: 100%;
}

.image4io .fileList li img {
	max-width:100%;
}

.image4io .fileList .attachment-preview:before {
	padding-top: 100%;
	height: 144px;
    overflow: hidden;
}

#wpfooter {
	position:relative;
}

.image4io .media-toolbar-two {
	padding:9px;
}

.image4io .button.button-large {
	height:27px;
}

.image4io .bread {
	margin:0;
	padding-left:10px;
}

.popup_image {
	border:none !important;
}

.popup_detail {
	background:#f3f3f3;
	height:100%;
	width:100%;
	padding:13px;
}

.delete-attachment {
	position:absolute;
	bottom:10px;
}

.progress { position:relative; width:400px; border: 1px solid #ddd; height:27px !important; padding: 1px; border-radius: 3px; }
#progressBar { background-color: #B4F5B4; width:0%; height:24px; border-radius: 3px; }
.bar { background-color: #B4F5B4; width:0%; height:24px; border-radius: 3px; }
.percent { position:absolute; display:inline-block; top:3px; left:48%; }

@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?8273293');
  src: url('../font/fontello.eot?8273293#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?8273293') format('woff2'),
       url('../font/fontello.woff?8273293') format('woff'),
       url('../font/fontello.ttf?8273293') format('truetype'),
       url('../font/fontello.svg?8273293#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?8273293#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-image2vector:before { content: '\e800'; } /* '' */

#toplevel_page_image4io .dashicons-admin-generic:before {
	content: '\e800';
}

.image4ioList td.column-title strong, .image4ioList td.plugin-title strong {
	float:left;
	margin-right:10px;
}

.image4ioList .delete-attachment {
	position:relative;
	bottom:0;
}

a.disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: default;
}